<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start" mode="ios"></ion-back-button>
    <ion-title>Nos bateaux partenaires</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div style="margin: 5%">
    <p>
      Tout les eaux mènent à Thibault.<br />
      06.63.99.99.78<br />
      lebateaudethibault@gmail.com<br />
      <a href="https://www.facebook.com/lebateaudethibault"
        >www.facebook.com/lebateaudethibault</a
      >
    </p>
  </div>
  <ion-card
    ion-item
    *ngFor="let bateau of bateauxList"
    (click)="onLoadBateau(bateau)"
  >
    <img src="{{bateau.image}}" />
    <ion-card-header>
      <ion-card-title>{{bateau.name}}</ion-card-title>
    </ion-card-header>

    <!-- <ion-card-content> {{bateau.description}} </ion-card-content> -->
  </ion-card>
</ion-content>
