<ion-header>
  <ion-toolbar>
    <ion-title>Bateaux</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h1>Nos bateaux partenaires</h1>

  <!-- Rendre dynamique les informations -->
  <div>
    <p>Tout les eaux mènent à Thibault.</p>
    <p>06.63.99.99.78</p>
    <p>lebateaudethibault@gmail.com</p>
    <p>www.facebook.com/lebateaudethibault</p>
  </div>

  <ion-card
    ion-item
    *ngFor="let bateau of bateauxList"
    (click)="onLoadBateau(bateau)"
  >
    <ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-thumbnail slot="start">
              <img src="{{bateau.image}}" />
            </ion-thumbnail>
            <ion-label>{{bateau.name}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card-header>
  </ion-card>
</ion-content>
