<app-header></app-header>
<!-- <ion-title>Mon panier</ion-title> -->

<ion-card *ngFor="let article of cart; let i = index">
  <ion-card-content>      
        <img [src]="article.item.owner">
      
      <h2>{{ article.item.name }}</h2>
      <p>
        <ion-badge color="secondary">{{ article.qty }}</ion-badge> x {{ article.item.price | currency: 'EUR':'symbol':undefined:'fr-FR' }}
      </p>
      <p> Vous économisez : {{ article.discount  | currency: 'EUR':'symbol':undefined:'fr-FR' }} </p> 
      <p> Total : {{ (article.qty * article.item.price) - article.discount  | currency: 'EUR':'symbol':undefined:'fr-FR' }}</p>
      <button (click)="deleteToast(article,i)" ion-button item-right clear color="danger">
        <ion-icon name="remove-circle"></ion-icon>
      </button>
  </ion-card-content>
</ion-card>
  <ion-footer>
    <ion-button (click)="closeModal()">Fermer</ion-button>
    <button ion-button block outline (click)="onGotoCommande()">Panier : {{ total | currency: 'EUR':'symbol':undefined:'fr-FR' }}</button>
  </ion-footer>

  
