ion-content {
    --background: url(../../assets/img/background.JPG) no-repeat center/cover fixed;
  }
  
  h2 {
    color: white !important;
    text-align: center;
    padding-top: 100px;
  }
  
  a {
    color: black !important;
  }
  
  p {
    text-align: center;
    //padding-top: 100px;
  }

  img {
    width : 536px;
    height : 302px;
  }