<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start" mode="ios"></ion-back-button>
    <ion-title>{{restaurant.nom}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="{{restaurant.image}}" alt="{{restaurant.nom}}" />
  <p>Adresse: {{restaurant.adresse}}<br /><br />Horaire:</p>
  <p *ngFor="let horaire of restaurant.horaire">{{horaire}}</p>
  <p>
    Site Web:
    <a href="{{restaurant.site_web}}" target="_blank"
      >{{restaurant.site_web}}</a
    >
  </p>
</ion-content>
