<ion-header>
  <ion-toolbar>
    <ion-title>Le bateau de Thibault</ion-title>
  </ion-toolbar>
</ion-header>

<ion-card style="margin: auto auto;height: 80%;width: 80%;">
    <img src="../assets/img/produit.jfif" style="height: 50%;" />
    <ion-card-header>
      <ion-card-title>
        <h2>Nom produit</h2>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-row>Prix :</ion-row>
      <ion-row>Quantité :</ion-row>
      <ion-row>Commentaires :</ion-row>
      <ion-row>Pêcheur :</ion-row>
    </ion-card-content>
</ion-card>
