<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start" mode="ios"></ion-back-button>
    <ion-title>{{ produit.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-card style="margin: auto auto; height: 80%; width: 80%">
  <img [src]="produit.owner" style="height: 50%" />
</ion-card>

<ion-footer>
  <ion-row>
    <ion-col offset-1 col-10>
      <button
        (click)="addToCart(produit)"
        (click)="presentToast()"
        ion-button
        round
        Large
      >
        <ion-icon name="cart"></ion-icon>&nbsp; Ajouter au panier
      </button>
    </ion-col>
  </ion-row>
</ion-footer>
