<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Vogue Merry
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <img src="../assets/img/acceuil.gif">
    <ion-card style="justify-items: center;">
      <ion-button (click)="onGotoListeProduits()" style="width:100%;"> 
        Produits et promotions
      </ion-button>
      <ion-button style="width:47%;display:inline-block;"> 
        Restaurants
      </ion-button>
      <ion-button style="width:47%;display:inline-block;"> 
        Bateaux
      </ion-button>
      <ion-button style="width:100%;"> 
        Recettes
      </ion-button>
      <ion-button (click)="onGotoContact()" style="width:100%;"> 
        Contact
      </ion-button>
    </ion-card>


</ion-content>
