<app-header></app-header>

<ion-card style="margin: auto auto; height: 80%; width: 80%">
  <img [src]="recette.img" style="height: 50%; width: 100%" />
  <ion-card-header>
    <ion-card-title>
      <h2>{{ recette.name }}</h2>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-row>Déscription : {{recette.description}}</ion-row>
    <ion-row>Temps de préparation : {{recette.preparation}}</ion-row>
    <ion-row>Prix : {{recette.prix}}</ion-row>
    <ion-row>Ingrédients : {{recette.ingredients}}</ion-row>
  </ion-card-content>
</ion-card>
